In [63]:
import requests
from bs4 import BeautifulSoup
import pandas as pd
import numpy as np

In [58]:
corp = pd.read_excel('corp_stock_list.xlsx', usecols = ['기업명', '종목코드'], converters={'기업명':str,'종목코드':str})
# 상장회사 목록

# usecols 뽑을 데이터 지정하는 코드, converters 종목코드 str으로 바꿔주는 코드

#종목코드 앞자리가 0이므로 스트링으로 지정해주지않으면 0이 사라짐
corp

              기업명    종목코드
0          지놈앤컴퍼니  314130
1              웹젠  069080
2             우리넷  115440
3         마이크로디지탈  305090
4              나노  187790
5             손오공  066910
6            새로닉스  042600
7           피씨디렉트  051380
8             이큐셀  160600
9           케이엠제약  225430
10         교보9호스팩  331520
11         네추럴FNP  086220
12           로보로보  215100
13          DSR제강  069730
14    교보10호기업인수목적  355150
15          아이비김영  339950
16        메디안디노스틱  233250
17       미래에셋맵스리츠  357250
18         한국정밀기계  101680
19            비비씨  318410
20             삼기  122350
21         씨앤에스링크  245450
22          유나이티드  033270
23           지니언스  263860
24            파라텍  033540
25         예스코홀딩스  015360
26           시노펙스  025320
27           모나리자  012690
28         티웨이홀딩스  004870
29        씨앤지하이테크  264660
...           ...     ...
1944         맘스터치  220630
1945           대교  019680
1946         동국제강  001230
1947          모아텍  033200
1948          아리온  058220
1949           GV  045890
1950      SGA솔루션즈  184230
1951         아이엠텍  226350
1952         엘비루셈  376190
1953        한화솔루션  009830
1954       한국조선해양  009540
1955           라임  065160
1956         제주은행  006220
1957         신화실업  001770
1958           대원  007680
1959      제이씨현시스템  033320
1960        한솔홀딩스  004150
1961     이베스트투자증권  078020
1962       롯데하이마트  071840
1963       SM C&C  048550
1964       한국전력공사  015760
1965        상지카일룸  042940
1966       AJ네트웍스  095570
1967      한국코퍼레이션  050540
1968       KB손해보험  002550
1969          컨버즈  109070
1970          텔라움  047730
1971      뉴파워프라즈마  144960
1972     에이디테크놀로지  200710
1973        엘브이엠씨  900140

[1974 rows x 2 columns]

In [59]:
com_code = corp['종목코드'][:100]
com_code

0     314130
1     069080
2     115440
3     305090
4     187790
5     066910
6     042600
7     051380
8     160600
9     225430
10    331520
11    086220
12    215100
13    069730
14    355150
15    339950
16    233250
17    357250
18    101680
19    318410
20    122350
21    245450
22    033270
23    263860
24    033540
25    015360
26    025320
27    012690
28    004870
29    264660
       ...
70    034830
71    134380
72    044990
73    085660
74    081000
75    363280
76    092870
77    072020
78    244880
79    058480
80    311060
81    318010
82    040610
83    163560
84    115610
85    211050
86    037350
87    222980
88    191410
89    155900
90    143240
91    340350
92    317690
93    293780
94    348350
95    067160
96    323350
97    036710
98    222800
99    304100
Name: 종목코드, Length: 100, dtype: object

In [60]:
# for i in 종목코드:
#     globals()['df{}'.format(★종목명 or ★종목코드)] = pd.DataFrame()

In [61]:
page_number_lst = np.arange(10,13) # 시작 페이지 ~ 끝 페이지 넘버 array

In [62]:
#############수정용

url_head = 'https://finance.naver.com/item/sise_day.nhn?code='
url_tail = '&page='
########################################### for문 들여쓰기######################



quote_cp = []
date_total = []
corp_total = []
df = pd.DataFrame()

headers = {'User-Agent' : 'Mozilla/5.0 (Macintosh; Intel Mac OS X 10_15_7) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/91.0.4472.101 Safari/537.36'}
try:
    for code in com_code:

        for _page in page_number_lst:

            web = requests.get(url_head + code +url_tail+str(_page), headers = headers).content #자료 요청
            soup = BeautifulSoup( web, 'html.parser') # html 파싱
            date_ = soup.find_all('td', {'align': 'center'}) # 파싱한 부분에서 날짜 부분
            quote = soup.find_all('td', {'class': 'num'}) # 파싱한 부분에서 날짜 부분


            for i in range( len(date_) ):
                date_total.append(date_[i].get_text())
                corp_total.append(code)
            for i in range( len(quote) ):
                if i%6 == 0:
                    quote_cp.append(quote[i].get_text())

    for i in range(len(quote_cp)):
        quote_cp[i] = quote_cp[i].replace(",","")
    quote_cp = list(map(int,quote_cp))
except:
    pass

########################################### for문 들여쓰기######################
df['날짜'] = date_total
df['주식_종가'] = quote_cp
df['종목코드'] = corp_total
df

              날짜  주식_종가    종목코드
0     2021.02.08  53100  314130
1     2021.02.05  49400  314130
2     2021.02.04  49200  314130
3     2021.02.03  51300  314130
4     2021.02.02  52400  314130
5     2021.02.01  51200  314130
6     2021.01.29  52400  314130
7     2021.01.28  55100  314130
8     2021.01.27  57400  314130
9     2021.01.26  59000  314130
10    2021.01.25  56700  314130
11    2021.01.22  56900  314130
12    2021.01.21  56800  314130
13    2021.01.20  59700  314130
14    2021.01.19  60000  314130
15    2021.01.18  63500  314130
16    2021.01.15  66500  314130
17    2021.01.14  66100  314130
18    2021.01.13  69600  314130
19    2021.01.12  73500  314130
20    2021.01.11  73100  314130
21    2021.01.08  77500  314130
22    2021.01.07  78500  314130
23    2021.01.06  81600  314130
24    2021.01.05  82500  314130
25    2021.01.04  84700  314130
26    2020.12.30  79500  314130
27    2020.12.29  70900  314130
28    2020.12.28  64200  314130
29    2020.12.24  65600  314130
...          ...    ...     ...
2970  2021.02.08  33150  304100
2971  2021.02.05  33750  304100
2972  2021.02.04  33850  304100
2973  2021.02.03  33600  304100
2974  2021.02.02  33350  304100
2975  2021.02.01  33350  304100
2976  2021.01.29  33600  304100
2977  2021.01.28  34200  304100
2978  2021.01.27  35000  304100
2979  2021.01.26  35850  304100
2980  2021.01.25  36250  304100
2981  2021.01.22  35200  304100
2982  2021.01.21  35850  304100
2983  2021.01.20  35950  304100
2984  2021.01.19  35150  304100
2985  2021.01.18  35000  304100
2986  2021.01.15  35550  304100
2987  2021.01.14  37150  304100
2988  2021.01.13  36500  304100
2989  2021.01.12  36000  304100
2990  2021.01.11  36600  304100
2991  2021.01.08  37600  304100
2992  2021.01.07  37650  304100
2993  2021.01.06  35000  304100
2994  2021.01.05  34850  304100
2995  2021.01.04  34500  304100
2996  2020.12.30  34400  304100
2997  2020.12.29  33800  304100
2998  2020.12.28  33800  304100
2999  2020.12.24  34050  304100

[3000 rows x 3 columns]

In [65]:
a = [8, 9, 10]

r = a

r

[8, 9, 10]